::-webkit-input-placeholder {
    color:    transparentize(white, .5)	;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
:-moz-placeholder {
    color:    transparentize(white, .5)	;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
::-moz-placeholder {
    color:    transparentize(white, .5)	;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
:-ms-input-placeholder {
    color:    transparentize(white, .5)	;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
