<section id="brochure-download">
	<h1>Brochure Download</h1>
	<div class="container">
		<div class="images">
			<div class="broc-image1 animated fadeInUp"></div>
			<div class="broc-image2 animated fadeInLeft"></div>
		</div>
		<div class="brochure-form">
			<form action="">
				<h3>Request A Brochure</h3>
				<p>Fill Out the Form Below to Receive A Brochure:</p>
				<input type="text" placeholder="Name">
				<input type="text" placeholder="Email">
				<input type="text" placeholder="Address">
				<input type="text" placeholder="City/State">
				<input type="text" placeholder="Zip Code">
				<input type="text" placeholder="Phone Number">
				<a href="quote-page.html" class="button"><span><i>SUBMIT</i></span></a>
			</form>
		</div>
	</div>
</section>