<section id="footer">
	<div class="footer-content">
		<ul>
			<li><b>Affiliates</b></li>
			<a href="http://ophelia.sdsu.edu:8080/ford/06-05-2011/purchasing-options/vehicle-purchase-programs/corporate-employees.html"><li>Employee Discount Program</li></a>
			<a href="http://owner.lincoln.com/how-tos/vehicle-care/lincoln-pledge.html"><li>The Lincoln Pledge</li></a>
			<a href="http://www.nascarfuelforemployees.com/"><li>Nascar Fuel for Employees</li></a>
			<a href="https://care.siriusxm.com/preownedvehiclestrial_view.action"><li>Enjoy Sirius XM</li></a>
		</ul>
		<ul>
			<li><b>Contact Us</b></li>
			<a href="https://twitter.com/ford"><li>Twitter</li></a>
			<a href="https://www.facebook.com/ford"><li>Facebook</li></a>
			<a href="https://www.youtube.com/user/Ford"><li>Youtube</li></a>
			<a href="https://corporate.ford.com/contact-us.html"><li>Ford Support</li></a>
		</ul>
		<ul>
			<li><b>Sponsors</b></li>
			<a href="http://www.teamfordlasvegas.com/"><li>Team Ford Vegas</li></a>
			<a href="http://www.navysealfoundation.org/"><li>Navy Seal Foundation</li></a>
			<a href="http://www.mastercraftsafety.com/"><li>Mastercraft Safety</li></a>
			<a href="http://www.azuniatequila.com/"><li>Azunia Tequila</li></a>
		</ul>
	</div>
	<p>&copy Derrick Johnson 2015.</p>
</section>