<section id="footer">
	<div class="footer-content">
		<ul>
			<li><b>Affiliates</b></li>
			<a href=""><li>Employee Discount Program</li></a>
			<a href=""><li>The Lincoln Pledge</li></a>
			<a href=""><li>Nascar Fuel for Employees</li></a>
			<a href=""><li>Enjoy Sirius XM</li></a>
		</ul>
		<ul>
			<li><b>Contact Us</b></li>
			<a href=""><li>Twitter</li></a>
			<a href=""><li>Facebook</li></a>
			<a href=""><li>Ford Support</li></a>
		</ul>
		<ul>
			<li><b>Sponsors</b></li>
			<a href=""><li>Team Ford Vegas</li></a>
			<a href=""><li>Navy Seal Foundation</li></a>
			<a href=""><li>Mastercraft Safety</li></a>
			<a href=""><li>Azunia Tequila</li></a>
		</ul>
	</div>
	<p>&copy Derrick Johnson 2015.</p>
</section>