<section id="get-a-quote">
	<h1>Request A Quote</h1>
	<div class="quote-container">
		<div class="left-cta">
			<div class="cta-content">
				<div class="title">
					<h2>The All New <span>2015</span> </h2>
					<h1>Ford Mustang</h1>
				</div>
				<div class="cta-image"></div>
				<div class="cta-quote-price">
					<p>Request internet price to get a special discount on V6 model:</p>
					<h3 style="text-decoration:line-through;">MSRP $24,200</h3>
				</div>
				<div class="your-price">
					<h2>Your Price</h2>
					<i class="ion-arrow-right-a"></i>
					<h2><span>$22,999</span></h2>
				</div>
			</div>
		</div>
		<div class="quote-form">
			<form action="">
				<h3>Get An Internet Price</h3>
				<p>Fill Out the Form Below to Receive A Price Estimate:</p>
				<input type="text" placeholder="Name">
				<input type="text" placeholder="Email">
				<input type="text" placeholder="Address">
				<input type="text" placeholder="City/State">
				<input type="text" placeholder="Zip Code">
				<input type="text" placeholder="Phone Number">
				<a href="quote-page.html" class="button"><span><i>SUBMIT</i></span></a>
			</form>
		</div>
	</div>
</section>