<header id="header">
  <a href="index.html"><div class="ford-logo"></div></a>
  <nav>
  	<a href="features&specs.html">Features & Specs</a>
  	<a href="gallery.html">Photo Gallery</a>
  	<a href="brochure.html" class="active">Brochure</a>
  	<a href="quote-page.html">Get A Quote</a>
  </nav>
  <div class="social-search">
  	<div class="social">
  		<a href="https://www.facebook.com/ford"><i class="ion-social-facebook"></i></a>
  		<a href="https://twitter.com/ford"><i class="ion-social-twitter"></i></a>
  		<a href="https://www.youtube.com/user/Ford"><i class="ion-social-youtube"></i></a>
  	</div>
  	<form action="http://google.com" method="get">
  		<input type="text" class="search">
  		<i class="ion-search"></i>
  	</form>
  </div>
</header>