<section id="main-cta">
	<div class="bg-img">
		<div class="main-title">
			<h2>The All New</h2>
			<h1>2015 Ford Mustang</h1>
			<div class="motto"><h2><i>Speed.</i></h2><h2><i>Power.</i></h2><h2><i>American Muscle.</i></h2></div>
		</div>
		<a href="quote-page.html" class="button"><span><i>Get A Quote</i></span></a>
		<div class="prices">
			<div>
				<p>MSRP Starting At</p>
				<h1>$23,800</h1>
			</div>
			<p class="or">or</p>
			<div>
				<p>Monthly Lease Starting At</p>
				<h1>$249<span>/MO Lease</span></h1>
			</div>
		</div>
		<p class="copyright">&copy Derrick Johnson 2015.</p>
	</div>
</section>