<section id="specs">
	<h1>Specs</h1>
	<div class="specs-container">
		<div class="spec-unit">
			<div class="title"><h2>Mustang Ecoboost®</h2></div>
			<div class="content">
				<div class="price"><h3>MSRP $25,700</h3></div>
				<div class="specs-info">
					<div>
						<h4>- Engine Type -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>2.3L GTDI I-4 Engine</i></p>
					</div>
					<div>
						<h4>- Horsepower -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>310 @5500(93 Octane Fuel)</i></p>
					</div>
					<div>
						<h4>- Torque -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>320 @ 3000(93 Octane Fuel)</i></p>
					</div>
					<div>
						<h4>- MPG -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>21 CIty/32 HWY</i></p>
					</div>
				</div>
			</div>
		</div>
		<div class="spec-unit spec-unit-mid">
			<div class="mustang-logo"></div>
			<div class="title"><h2>Mustang V6®</h2></div>
			<div class="content">
				<div class="price"><h3>MSRP $24,200</h3></div>
				<div class="specs-info">
					<div>
						<h4>- Engine Type -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>3.7L Ti-VCT V-6 Engine</i></p>
					</div>
					<div>
						<h4>- Horsepower -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>300 hp @ 6500 rpm (3.7L V6)</i></p>
					</div>
					<div>
						<h4>- Torque -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>280 lb.-ft. @ 4000 rpm (3.7L V6)</i></p>
					</div>
					<div>
						<h4>- MPG -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>19 city/28 hwy</i></p>
					</div>
				</div>
			</div>
		</div>
		<div class="spec-unit">
			<div class="title"><h2>Mustang GT®</h2></div>
			<div class="content">
				<div class="price"><h3>MSRP $32,700</h3></div>
				<div class="specs-info">
					<div>
						<h4>- Engine Type -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>5.0L Ti-VCT V-8 Engine</i></p>
					</div>
					<div>
						<h4>- Horsepower -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>435 @ 6500 (93-octane fuel)</i></p>
					</div>
					<div>
						<h4>- Torque -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>400 @ 4250 (93-octane fuel)</i></p>
					</div>
					<div>
						<h4>- MPG -</h4>
						<i class="ion-arrow-down-b"></i>
						<p><i>16 city/25 hwy</i></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>