.top-cta
	width: 645px
	margin-left: 80px
	display: flex
	align-items: center
	background-color: transparentize(white,.98)
	justify-content: space-between
	margin-top: 5px

	.header-btn
		margin-bottom: -7px
		margin-right: 5px
		opacity: .91

		&:hover
			opacity: .95

	div
		display: inline-block
		
		h1
			color: white
			text-transform: uppercase
			display: inline-block
			font-size: 28px

			
			span 
				margin-right: 4px
				color: $orange
				font-size: 30px
				font-weight: 700


		h2 
			color: white
			text-transform: uppercase 
			font-weight: 300
			font-size: 28px
			display: inline-block
			margin-right: 10px
			margin-left: 35px



