#footer
	.footer-content
		display: flex
		justify-content: space-between
		align-items: center
		max-width: 960px
		margin: 70px auto 30px
		border-top: 1px solid transparentize(white, .9)
		padding: 35px 10px 0

		ul 
			text-align: center
			line-height: 35px

			&:nth-child(2)
				margin-left: -75px

			li 
				list-style-type: none
				font-weight: 300

				b 
					color: white

			a 
				color: #BBB
				text-decoration: none 

				&:hover
					color: white 
	p 
		color: transparentize(white, .5)
		font-weight: 300
		text-transform: uppercase
		font-size: 12px
		text-align: center
		letter-spacing: 2px
