#main-cta
	
	.bg-img	
		background: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),  url(/assets/images/roush.jpg) left center no-repeat
		max-width: 100%
		height: 900px
		margin: 0 auto
		background-size: cover
		position: relative

		.button
			+position(absolute, 42% null null 250px)
			opacity: .88

			&:hover
				opacity: .95


		.main-title
			float: left
			text-align: left
			margin-left: 100px
			margin-top: 150px

			h1 
				color: $orange
				background-color: #111
				// border-radius: 5px
				text-transform: uppercase
				font-size: 45px
				padding-left: 5px
				width: 400px
				// text-shadow: 2px -1px 1px rgba(1, 1, 1, 0.23)
				

			h2
				color: #EEE
				text-transform: uppercase
				// font-weight: 300
				font-size: 35px
				margin: 0
				// text-shadow: 2px -1px 3px rgba(1, 1, 1, 0.43)

			.motto
				// margin: 20px 0 40px
				h2
					display: inline
					margin-right: 10px

					&:nth-child(3)
						margin-right: 0

		.prices
			margin-left: 100px
			width: 500px
			height: 150px
			display: flex
			+position(absolute, null null 30% 0)
			justify-content: space-around
			background-color: rgba(0,0,0,.3)
			
			h1
				color: #F94828
				font-size: 40px

				span 
					font-size: 30px 
					color: white

			p 
				color: white

			.or 
				margin-top: 80px

	.copyright 
		+position(absolute, null null 0 50%)
		margin-left: -75px
		color: white 
		letter-spacing: 2px 
		font-size: 12px
		opacity: .4


@media (max-width: 675px)

	#main-cta
	
		.bg-img

			.prices 
				margin-left: 75px


@media (max-width: 635px)
	#main-cta
	
		.bg-img	
			

			.main-title

				margin-left: 40px
				margin-bottom: 400px
				
				h1 
					font-size: 28px
					width: 240px
					
					padding: 2px 10px
					

				h2
					color: #EEE
					text-transform: uppercase
					// font-weight: 300
					font-size: 25px
					margin: 0
					// text-shadow: 2px -1px 3px rgba(1, 1, 1, 0.43)

				.motto
					// margin: 20px 0 40px
					h2
						display: inline
						margin-right: 10px

						&:nth-child(3)
							margin-top: 50px

			.button
				+position(absolute, 290px null null 22%)

			.prices
				flex-direction: column
				height: 240px
				align-items: center
				position: relative 
				margin: 0 auto 
				text-align: center
				margin: 0 auto
				width: 200px

				.or 
					display: none


@media (max-width: 549px)

	#main-cta
	
		.bg-img

			.prices 
				width: 300px
				



				